{% extends 'backend_layout.html.twig' %}
{% block title %}{{ parent() }} Tableau de bord{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <section id="barre">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div>
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row classement">
                            <div class="col-12 photo">
                                <figure>
                                    <img src="https://picsum.photos/id/129/200/150" alt="" class="img-fluid img-thumbnail">
                                </figure>
                                <div class="nom">Famille AMOIKON</div>
                                <div class="rang">1<sup>er</sup></div>
                            </div>
                        </div>
                        <div class="row classement">
                            <div class="col-12 photo">
                                <figure>
                                    <img src="https://picsum.photos/id/129/200/150" alt="" class="img-fluid img-thumbnail">
                                </figure>
                                <div class="nom">Famille AMOIKON</div>
                                <div class="rang">2<sup>e</sup></div>
                            </div>
                        </div>
                        <div class="row classement">
                            <div class="col-12 photo">
                                <figure>
                                    <img src="https://picsum.photos/id/129/200/150" alt="" class="img-fluid img-thumbnail">
                                </figure>
                                <div class="nom">Famille AMOIKON</div>
                                <div class="rang">3<sup>e</sup></div>
                            </div>
                        </div>
                        <div class="row classement">
                            <div class="col-12 photo">
                                <figure>
                                    <img src="https://picsum.photos/id/129/200/150" alt="" class="img-fluid img-thumbnail">
                                </figure>
                                <div class="nom">Famille AMOIKON</div>
                                <div class="rang">4<sup>e</sup></div>
                            </div>
                        </div>
                        <div class="row classement">
                            <div class="col-12 photo">
                                <figure>
                                    <img src="https://picsum.photos/id/129/200/150" alt="" class="img-fluid img-thumbnail">
                                </figure>
                                <div class="nom">Famille AMOIKON</div>
                                <div class="rang">5<sup>e</sup></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="liste">
                <table id="listeFamille" class="display">
                    <thead>
                    <tr>
                        <th>Famille</td>
                        <th>Vote</td>
                        <th>Pourcentage</td>
                        <th>Rang</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Famille AMOIKON</td>
                        <td>235</td>
                        <td>25,00%</td>
                        <td>1<sup>er</sup> </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </main>
{% endblock %}
